 /*Smartphone*/

  @media (max-width: 480px){

    #tituloPrincipal {
      font-size: 17px;
      margin: 17px 0px;
    }
    #videoPrincipal {
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 300px;
    }
    #contenedorRegiones {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
  
}
