 /*********
  IMPORTS
 ***********/
 @import "./imputs";
 @import "./botones";
 @import "./mixin";
 @import "./maps";
 @import "./_mediatablet";
 @import "./_mediasmartphone";
 @import "./nav";
 @import "./footer";
 @import "./id";



* {
  margin: 0%;
  padding: 0%;
}
body{
  width: 100%;
  background-image: linear-gradient(315deg, #380036 20%, #0cbaba 64%);


  main {
    #videoPrincipal {
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 550px;
      border-radius: 50px;
    }
    h1 {
      margin: 0% 6%;
      color: azure;
      font-size: 30px;
      justify-content: center;
      text-shadow:  0 1px #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    }
    h2 {
    @extend h1 ;
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
    padding: 10px;
    background-image: "linear-gradient(to top, #380036 0%, #0cbaba 95%)";
    color: azure;
  
  }
  
.diametro {
  margin: 50px;
}

.transicion {
  transition: all 1s;
  margin-bottom: 5%;
}

.transicion:hover {
  width: 300px;
  height: 300px;
}
.contenedorRegiones{
   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.redes {
  box-shadow: 10px 5px 5px black;
  border-radius: 50%;
}
.nosotros {
  font-size: 20px;
}
.descripcionProvincias {
  color: azure;
  margin: 2%
}

  }
}



main {
  h2 {
    @extend h1 ;
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
    padding: 10px;
    background-image: linear-gradient(to top, #380036 0%, #0cbaba 95%);
    color: azure;
  
  }
  }
  
  
  
  /*comentario*/
  p {
    font-size: 20px;
  }

#subir {
  margin-left: auto;
}







