
/*Comentario de scss*/
* {
  margin: 0%;
  padding: 0%;
}
body{
  width: 100%;
    background-image: "linear-gradient(to top, #380036 0%, #0cbaba 95%)"; 

}
main {
  h1 {
    margin: 0% 6%;
    color: azure;
    font-size: 30px;
    justify-content: center;
    text-shadow:  0 1px #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
 }
  
}

main {
  h2 {
    @extend h1 ;
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 50px;
    padding: 10px;
    background-image: linear-gradient(to top, #380036 0%, #0cbaba 95%);
    color: azure;
  
  }
  }
  .transicion {
    transition: all 1s;
    margin-bottom: 5%;
  }
  .transicion:hover {
    width: 300px;
    height: 300px;
  }
  iframe {
    width: 100%;
    margin: 0.5% 3%;
    border-radius: 50px;
    height: 800px;
  }
  
  .redes {
    box-shadow: 10px 5px 5px black;
    border-radius: 50%;
  }
  
  
  /*comentario*/
  p {
    font-size: 20px;
  }


  /*Smartphone*/
/********* Comentariiooooooooooooooooooooos*/
 
 /*********
  IMPORTS
 ***********/
 @import "./imputs";
 @import "./botones";
 @import "./mixin";
 @import "./maps";





